<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Your Own Burger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

<div class="container"><p class="welcome">This app was build for all of You who wants to create<br>
                            very rare and unique burger with ingredients whatever you like</p></div>
    <div class="burger">  <img src="../static/burger.jpg">       </div>
<div class="design_button"><a align="center" th:href="@{/design}" id="design"><button>Design a burger</button></a></div>




</body>
</html>